/*
    Author Name: Aneesh Bhatnagar
    Author Wesbite: www.aneeshbhatnagar.com
    Project Name: Pomodoro  Timer
*/
.center-align-buttons{
    width:398px;
    display: block;
    margin:20px auto;
}

#timer{
    text-align: center;
    font-size:45px;
    color:#a1a1a1;
}